torch==2.0.0            # PyTorch
torchvision==0.15.0     # torchvision (ResNet, transforms vb.)
tqdm==4.64.0            # Progress bar kütüphanesi
scikit-learn==1.0.2     # Machine learning models (SVM, IsolationForest, vs.)
numpy==1.21.2           # Numpy
matplotlib==3.5.2       # Görselleştirme için
pickle5==0.0.11         # Pickle (veri serileştirme)
